@import "../../assets/styles/reset.scss";
@import "../../assets/styles/variables.scss";

.backImage{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}



